@using Admin.ViewModels
@model InfoViewModel

@{
    ViewData["Title"] = "Stats";
}

<div class="container">
    @foreach (var type in Model.InfoTypeList)
    {
        <div id="@type">
            <div class="panel panel-default">
                <div class="panel panel-title"><div style="padding: 5px">@type</div></div>
                <table class="table">
                    <thead>
                        <tr>
                            @foreach (var sourceInfo in Model.GetSourceInfoListByType(type))
                            {
                                <th>@sourceInfo.Name</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @foreach (var sourceInfo in Model.GetSourceInfoListByType(type))
                            {
                                <td class="@(sourceInfo.IsDanger ? "danger" : "success")">@sourceInfo.Content</td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
