@using System.Linq
@using Admin.ViewModels
@model StatViewModel

@{
    ViewData["Title"] = "Stats";
}

<div>
    @foreach (var type in Model.GetModuleKeys)
    {
        <div id="@type" class="col-xs-12">
            @if (Model.GetModuleStatByKey(type).Any())
            {
                <div class="panel panel-default">
                    <div class="panel panel-title panel-header">@Model.GetModuleNameByKey(type)</div>
                    <table class="table table-condensed no-margin">
                        <thead>
                            <tr>
                                @foreach (var sourceInfo in Model.GetModuleStatByKey(type))
                                {
                                    <th>@sourceInfo.Name</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @foreach (var sourceInfo in Model.GetModuleStatByKey(type))
                                {
                                    <td class="@(sourceInfo.IsDanger ? "danger" : "success")">@sourceInfo.Content</td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
        </div>
    }
</div>
